body {
    background-color: #f8f9fa;
}

.logo {
    width: 50px;
    height: 50px;
    color: black;
    margin-top: 0;
    margin-left: 2px;
}

.myimg {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
}

.banner {
    background: url('https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    color: white;
}

.form-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
}

.btn-predict {
    width: 100%;
    padding: 14px;
    margin-bottom: 5px;
}

.results-container {
    padding: 50px 0;
}

.result-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.toggle-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    border-radius: 5px;
    color: white;
    background: #007bff;
    border: none;
    cursor: pointer;
}

.modal-header {
    background-color: #007bff;
    color: white;
}
